{% extends 'base1/base.html' %}
{% load static %}

{% block tit1 %}
    <title>品牌故事</title>
{% endblock %}

{% block content %}
        <ul class="breadnav clearfix">
			<li class="bnav-item"><a href="{% url 'project1:index' %}">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="{% url 'project1:meishi' %}">美食系列</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="javascript:;">{{ good.goods_name }}</a></li>
		</ul>
		<div class="mei-wrap">
			<p class="mei-tit">{{ good.goods_name }}</p>
			<div class="mei-pic">
				<img src="/static/{{ good.image }}"/>
			</div>
			<div class="mei-txt">
				{{ good.description | safe}}
			</div>
			<a href="{% url 'project1:meishi' %}" class="meishi-icon">返回列表页</a>
		</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
		//导航当前项切换
		$(".nav-item").click(function(){
			$(this).parent("li").siblings().children().removeClass("nav-active");
			//点击对象的父级（li）的兄弟级（li）的子集（a）移除类
			$(this).addClass("nav-active");
			//给点击对象添加类
		});
	</script>
{% endblock %}

